
<div id="user_nav" class="pull-right"> 
  <% if current_user %>
    <h5>Logged In as <%= current_user.username.capitalize %></h5>
    <%= link_to 'Log Out', admin_logout_path, class:'btn btn-info pull-right' %>
    <% else %>
    <%= link_to 'Log In', admin_login_path, class:'btn btn-info' %>
  <% end %>
</div>

<h2 class="page-header">Photos<%= link_to "Add New Photo", new_admin_photo_path, class:'btn btn-success pull-right' %></h2>
<% if @photos.exists? %>
  <table class="table table-striped">
    <tr>
      <th>Photo Title</th>
      <th>Photo Category</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>

    <% @photos.each do |photo|%>
    <tr>
      <td><%= photo.image_title %></td>
      <td><%= photo.category.name %></td>
      <td><%= photo.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
      <td><%= link_to "Edit", edit_admin_photo_path(photo), class:'btn btn-primary'   %> <%= link_to "Delete", admin_photo_path(photo), class:'btn btn-danger',   method: :delete, data: {confirm: 'Are you sure?'}  %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @photos %>
<% else %>
  <p>Sorry, No Photo Was Found.</p>
<% end %>
