<div id="user_nav" class="pull-right"> 
  <% if current_user %>
    <h5>Logged In as <%= current_user.username.capitalize %></h5>
    <%= link_to 'Log Out', admin_logout_path, class:'btn btn-cancel pull-right' %>
    <% else %>
    <%= link_to 'Log In', admin_login_path, class:'btn btn-info' %>
  <% end %>
</div>

<h2 class="page-header">Manage Categories</h2>
<% if @categories.exists? %>
  <table class="table table-striped">
    <tr>
      <th>Category Title</th>
      <th>Create Date</th>
      <th><%= link_to "Add Category", new_admin_category_path, class:'btn btn-addnew' %></th>
    </tr>
  
    <% @categories.each do |category|%>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
      <td><%= link_to "Edit", edit_admin_category_path(category), class:'btn  btn-primary' %> <%= link_to "Delete", admin_category_path(category),   class:'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}   %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @categories %>
<% else %>
  <p>Sorry, No Category Was Found.</p>
<% end %>