<section>
  <div class="container">
    <!-- Alerts & Messages -->
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </div><!-- /.container -->
</section>

<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav pull-right">
    <li><%= link_to 'Upload Photo', upload_path %></li>
  </ul>
</div><!--/.nav-collapse -->

<div id="gallery">
  <h2>All Photos</h2>
  <% if @photos.exists? %>

    <% @photos.each_slice(4) do |images| %>
      <div class="row">
      
        <% images.each do |image| %>
          <div class="col-md-3">
            <div class="photo photo-type-line">
              <a href="<%= image.image_url() %>" class="photo-hover"  data-lightbox="my-images" data-title="<%= image.image_title %>">
                <div class="photo-info">
                  <div class="headline"><%= image.image_title %></div>
                  <div class="line"></div>
                  <div class="desc"><%= image.image_description %></div>
                </div>
                <div class="mask"></div>
              </a>
              <div class="photo-img"><%= image_tag image.image_url(:thumb) unless image.image.blank? %></div>
            </div>
          </div>     
        <% end %>

      </div>
    <% end %>
    
  <% else %>
    <p>There are no Photos</p>
  <% end %>
</div>
