<section>
  <div class="container">

    <%= yield %>
  </div><!-- /.container -->
</section>

<div id="user_nav" class="pull-right"> 
  <% if current_user %>
    <h4><%= link_to 'Log Out', admin_logout_path, class:'btn btn-cancel pull-right butt-space' %></h4>
    <h4><%= link_to 'Upload Photo', upload_path, class:'btn btn-addnew pull-right butt-space' %></h4>
  <% end %>
</div>

<div id="gallery">
<% if current_user %>
  <h5>Logged In as <%= current_user.username.capitalize %></h5>
<% end %>

  <h2>Sample Photos</h2>

  <% if @photos.exists? %>
    <% @photos.each_slice(4) do |images| %>
      <div class="row">
        <% images.each do |image| %>
          <div class="col-md-3">
            <div class="photo photo-type-line">
              <a href="<%= image.image_url() %>" class="photo-hover"  data-lightbox="my-images" data-title="<%= image.image_title %>">
                <div class="photo-info">
                  <div class="headline"><%= image.image_title %></div>
                  <div class="line"></div>
                  <div class="desc"><%= image.image_description %></div>
                </div>
                <div class="mask"></div>
              </a>
              <div class="photo-img"><%= image_tag image.image_url(:thumb) unless image.image.blank? %></div>
            </div>
          </div>     
        <% end %>
      </div>
    <% end %>
    
  <% else %>
    <p>No Photos Yet</p>
  <% end %>
</div>
