<section>
  <div class="container">
    <!-- Alerts & Messages -->
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </div><!-- /.container -->
</section>
<% if current_user %>
Logged In as <%= current_user.username %>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <li><%= link_to 'Create a Post', new_post_path %></li>
    </ul>
    <ul>
      <li><%= link_to 'Log Out', admin_logout_path, class:'btn btn-info' %></li>
    </ul>
  </div><!--/.nav-collapse -->
<% end %>

<h2>All Posts</h2>

<div id="posts-index" >
  <% if @posts.exists? %>
    <% @posts.each_slice(3) do |post| %>
      <div class="row">
        <% post.each do |post| %>
          <div class="col-md-4">
            <div class="post">
              <%= image_tag post.image.url, width:'100%' %>
              <div class="post-content">
                <h3><%= post.title %></h3>
                <small>Posted by <%= post.user.username %> on <%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></small>
                <%= raw post.body.truncate(80) %>
                <%= link_to "Read More", post_path(post), class:'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <p>No Posts Yet</p>
  <% end %>
</div>

