<section>
  <div class="container">

    <%= yield %>
  </div><!-- /.container -->
</section>
<div id="user_nav" class="pull-right"> 
  <% if current_user %>
    <h4><%= link_to 'Log Out', admin_logout_path, class:'btn btn-primary pull-right butt-space' %></h4>
    <h4><%= link_to 'Create a Post', new_post_path, class:'btn btn-info pull-right butt-space' %></h4>
  <% end %>
</div>

<% if current_user %>
  <h5>Logged In as <%= current_user.username.capitalize %></h5>
<% end %>

<h2>Sample Posts</h2>

<div id="posts-index" >
  <% if @posts.exists? %>
    <% @posts.each_slice(3) do |post| %>
      <div class="row">
        <% post.each do |post| %>
          <div class="col-md-4">
            <div class="post">
              <%= image_tag post.image.url, width:'100%' %>
              <div class="post-content">
                <h3><%= post.title %></h3>
                <small>Posted by <%= post.user.username %> on <%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></small>
                <%= raw post.body.truncate(80) %>
                <%= link_to "Read More", post_path(post), class:'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <p>No Posts Yet</p>
  <% end %>
</div>

